@media (max-width: 576px) {
    .section{
        width: 400px;
    }
    .button{
        width: 75%;
        margin-bottom: 20px!important;
    }
}
@media (min-width: 577px) {
    
}


*{
    padding: 0px !important;
    margin: 0px !important;
    font-family: "Roboto", sans-serif;
}

.caption{
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-decoration-skip-ink: none;
}
body{
    width: 100vw;
}
.buttonOrange{
    background-color: #FF784B;
}
input {
    outline:none;
}